* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-image: url(lsl1.jpeg);
}

#wrapper {
    width: 60%;
    margin: 0 auto;
    background: #f3e7e7;
}

#footer {
    background: #af9c9c;
}

.q {
    background: #af9c9c;
    margin: 20px 0 0 0;
}

.inner {
    text-align: center;
}

.icons {
    text-align: center;
    display: flex;
    justify-content: center;
    background: #f48383;
    height: 30px;
    -webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.icons li {
    margin: 0 30px;
}

.icons li a {
    color: #d00f0f;
}


.logo {
    font-size: 50px;
    color: #b27b7b;
}

.content p {
    color: #af6969;
    width: 400px;
    height: 150px;
    border: 1px solid #d00f0f;
    margin: 0 auto;
    padding: 10px;
}


#banner .image img {
    height: 250px;
    width: 420px;
}

.x {
    display: flex;
}

.x img {
    padding: 0 20px;
    width: 200px;
}

.x p {
    padding: 0 20px;
}


#menu ul {
    display: flex;
    justify-content: center;
}

#menu ul li {
    margin: 0 20px;
}

